*{
    margin: 0;
    box-sizing: border-box;
}

.logo{
    font-size: 45px;

}
.color-orange{
    color: rgb(255, 128, 0);
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

 
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    

}
header{
    background-color: #FFF8F3;
    padding-top: 50px;

}
nav{
    width: 74%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    
}
.menu{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}